@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap');

h2
{
    font-family: 'Anek Devanagari';
    font-style: normal;
    font-weight: 400;
    font-size: 3.7492677211482133vw;
    line-height: 6.38547158758055vw;

    color: #FFFFFF;
}

h3
{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1716461628588166vw;
    /* identical to box height */

    white-space: nowrap;

    color: #FFFFFF;
}

.activeUsersCount
{
    /* 24 */
    position: absolute;
    width: 62px;
    height: 109px;
    margin-left: 36px;
    margin-top: 100px;

    font-family: 'Anek Devanagari';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 109px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

.activeUsersIcon
{
    /* person-profile-icon 1 */
    position: absolute;
    width: 36px;
    height: 36px;
    margin-left: 113px;
    margin-top: 136px;
}

.activeUsers
{
    /* Active Users */


    position: absolute;
    width: 117px;
    height: 25px;
    margin-left: 36px;
    margin-top: 174px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.totalLoginCount
{
    /* 152 */


    position: absolute;
    margin-left: 212px;
    margin-top: 100px;

    font-family: 'Anek Devanagari';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 109px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.totalLogins
{
    /* Total Logins */


    position: absolute;
    margin-left: 212px;
    margin-top: 174px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}