table.dataTable
{
    width: 72.5%;
    margin-left: 384px;
    margin-top: 112.7px;
    border-collapse: collapse;
    border-spacing: 0px;
    white-space: nowrap;
}

tr.dataTable.header
{
    /* Rectangle 2 */
    height: 44px;

    background: #8E97A6;
}

th.dataTable
{
    /* Table Header */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    align-items: left;

    color: #FFFFFF;
}

tr.dataTable
{
    /* Rectangle 2 */
    height: 61px;
    /* Text Box #1 */
    background: #353C47;
}

tr.spacing
{
    height: 8px;
}

th:first-of-type 
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-of-type 
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr td:first-of-type 
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  
tr td:last-of-type 
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dot 
{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display:inline-block;
}

.itemsDisplayed
{
    position: absolute;
    width: 29px;
    height: 33px;
    margin-left: 18px;

    /* Button #1 */

    font-family: 'Lexend';
    color: #8E97A6;
    text-align: center;
    background: #2A2F3B;
    border: 1px solid #E46036;
    border-radius: 7px;
}

.showingNumberOfEntries
{
    /* Table Header */

    margin-left: 403px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #25C3F4;
}

.previous
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 25px;
    gap: 10px;

    background: #E46036;
    border-radius: 10px;
    border-color: #E46036;

    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    transition-duration: 0.6s;
}

.next
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 25px;
    gap: 10px;

    background: #E46036;
    border-radius: 10px;
    border-color: #E46036;

    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;

    transition-duration: 0.6s;
}

.next:hover, .previous:hover
{
    background-color: #25C3F4;
    border-color: #25C3F4;
}

.search
{
    position: absolute;
    height: 39px;
    margin-top: -50px;
    margin-left: 384px;
    /* Rectangle 4 */


    box-sizing: border-box;

    position: absolute;
    /* Sub-Text #1 */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #8E97A6;
    text-align: left;
    border: 1px solid #8E97A6;
    border-radius: 10px;
    background: #353C47 url(./search-line-icon\ 1.svg) left no-repeat;
    background-position: 15px;
    padding-left: 49px;
}